
@{
    ViewBag.Title = "Hatali";
}

<div>
    <div class="col-md-12">
        <h2>
            Hata Oluştu
        </h2>
        <p>
            İşlem Sırasında Hata Oluştu
        </p>
        @ViewBag.hata

    </div>
</div>
