
@{
    ViewBag.Title = "Tamamlandi";
}
<div>
    <div class="col-md-12">
        <h2>
            Tamamlandı
        </h2>
        <p>
            Siparişiniz Başarılı bir şekilde alınmıştır
        </p>

    </div>
</div>

