﻿@model E_Ticaret.Models.Kategoriler

@{
    ViewBag.Title = "Details";
}

<h2>Kategori Detay</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.KategoriId }, new { @class = "btn btn-success" })
    @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-warning" })
</p>